.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px dashed #009e66;
  animation: loader-circle 3s linear infinite;
}

@keyframes loader-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
