.remoteWorkBlock {
  background: #303030;
}

.remoteWorkContainer {
  flex-direction: column;
  text-align: center;
}

.title {
  margin: 60px 0 37px 0;
  font-size: 30px;
}

.button {
  width: 150px;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 0;
  background: #009e66;
  color: #f3f3f3;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.button:hover {
  transition: 0.5s;
  box-shadow: 0 6px 16px rgb(54, 150, 100);
}
