.messageMeBlock {
  display: flex;
  justify-content: center;
  width: 450px;
}

.messageMeWrapper {
  width: 100%;
  margin-right: 20px;
}

.title {
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 10px;
  padding-left: 10px;
  border: 3px solid transparent;
  outline: transparent;
}

input:focus,
textarea:focus {
  border: 3px solid #009e66;
}

.submitWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0 20px 0;
}

.button {
  height: 40px;
  width: 150px;
  margin-bottom: 0px;
  border: 0;
  border-radius: 5px;
  background: #009e66;
  color: #f3f3f3;
  box-shadow: 0 6px 16px #000000e6;
  cursor: pointer;
}

.button:hover {
  transition: 0.5s;
  box-shadow: 0 6px 16px #369664;
}

.success {
  margin-left: 4px;
  color: #009e66;
}

.error {
  margin-left: 4px;
  color: #a61c1c;
}

.succesWrapper svg,
.errorWrapper svg {
  width: 20px;
  height: 20px;
  margin-left: 7px;
}

.errorWrapper svg {
  fill: #a61c1c;
}

.succesWrapper,
.errorWrapper {
  display: flex;
  align-items: center;
}

.validationError {
  border: 3px solid #a61c1c;
}
