.title {
  position: relative;
  display: inline-block;
  margin: 100px 0 37px 0;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: -0.25px;
  line-height: 100%;
}

.animatedBar {
  position: relative;
  display: block;
  width: 75px;
  height: 4px;
  margin: 0 auto 83px;
  background-color: #009e66;
  text-align: center;
}

@keyframes barAnimation {
  0% {
    left: 0;
  }
  100% {
    left: 63px;
  }
}

.animatedBar::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 12px;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-name: barAnimation;
  animation-timing-function: linear;
  background-color: #101010;
}
