.contactInfoBlock {
    width: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contactInfo {
    width: 100%;
    margin-left: 20px;
}

.contentTitle {
    font-size: 1.5rem;
}

.infoDescription {

}