.skillsBlock {
    min-height: 100vh;
    background: #d9bbc0;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background: #aea8a8;
}
.skills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid;
}
