.projectsBlock {
    background: lightcoral;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid;
}